# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Py.Cody-Home\DIP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
